@import './content/common.css';
@import './content/header.css';
@import './content/cover.css';
@import './content/lots.css';
@import './content/about.css';
@import './content/footer.css';

.address-link {
  text-decoration: underline;
  text-underline-offset: 17%;
}

.address-text {
  /* optimal value is 240, but then the office number break the line in the Praktikum */
  max-width: 245px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}
