@import './content/common.css';
@import './content/header.css';
@import './content/cover.css';
@import './content/lots.css';
@import './content/about.css';
@import './content/footer.css';

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}
